 <!DOCTYPE html>
 <html lang="en" dir="ltr">
   <head>
     <meta charset="utf-8">
<link rel="stylesheet" href="\style.css">
     <title>Color Game</title>
   </head>
   <body>
     <h1>Guess the color<br> <span id="color display"> RGB color</span> <br>game</h1>
     <div id="mc" >

    <button id="reset">New Game</button>
    <span id="message"></span>
   <button id="easy" >Easy</button>
   <button id="hard" ">Hard</button>


     </div>


<div id= "container" >
  <div class="square">

  </div>
  <div class="square">

  </div>
  <div class="square">

  </div>
  <div class="square">

  </div>
  <div class="square">

  </div>
  <div class="square">

  </div>
					 
</div>



 <script src="/script.js ">

     </script>
   </body>
 </html>
